@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

main {
  height: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form {
  width: 100%;
  max-width: 700px;
  height: fit-content;
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5lh;

  &__legend {
    margin-top: 1lh;
    font-weight: 600;
    font-size: larger;
  }

  &__control {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }

  &__label {
    font-weight: 500;
    font-size: medium;

    abbr {
      color: red;
      text-decoration: none;
    }
  }

  &__input {
    padding: 16px;
    background-color: rgb(255, 255, 241);
    border: none;
    box-shadow: inset 0 0 0 2px rgb(198, 198, 176);
    border-radius: 8px;
    font-weight: 400;
    font-size: small;
    box-sizing: border-box;

    &--error {
      box-shadow: inset 0 0 0 2px red;
    }

    &--success {
      box-shadow: inset 0 0 0 2px green;
    }
  }

  &__button {
    margin-left: auto;
    padding: 16px 32px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: small;
    transition: transform 0.15s ease;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
      background-color: rgb(72, 72, 255);
    }
  }

  &__error {
    color: red;
    position: absolute;
    bottom: -1.25lh;
    font-size: smaller;
    font-weight: 300;
  }
}
